@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: poppins;
    background: rgb(32, 31, 31);
}
.hero{
    height: 700px;
    background-image:url("wave.svg"), linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    font-size: 100% 750px;
}
.hero__container{
    padding: 100px 0;
    overflow: hidden;
    text-align: center;
    width: 90%;
    color: white;
    margin: 0 auto;
}
.hero__title{
    font-size: 45px;
}
.hero__paragraph{
    width: 70%;
    margin: 15px auto;
}
.hero__cta{
    display: inline-block;
    background-color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 30px;
}

.hero__picture{
    width: 450px;
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    display: block;
}